// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.ui.modal {
  transform: translateY(-50%);
}

.ace_editor {
  font: 14px/normal 'Consolas', 'source-code-pro', monospace !important;
  min-height: 160px;
}

.logs {
  display: inline-flex !important;
  flex-direction: column;
  .ui.tab.active {
    flex: 1;
    display: flex;
    flex-direction: column;
    .ace_editor {
      flex: 1;
    }
  }
  button {
    align-self: flex-start;
  }
}

.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before,
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #21ba45 !important;
}